@model TeamInsights.Models.EmployeeCertification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeCertification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certification.CertificationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeCertificationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
