@model IEnumerable<TeamInsights.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid d-flex">

    <!-- Main Content -->
    <main class="content-panel flex-grow-1 p-4 bg-white rounded-3 shadow-sm ms-3">
        <h1>Projects</h1>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProjectName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ProjectID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ProjectID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                <a asp-action="Create" class="btn from-right">Create New</a>
            </p>
        </div>
    </main>
</div>